  <h1><%= title %></h1>
  
  <div class='container'>
    <% for(var i = 0; i < blogs.length; ++i) { %>
      <div class='row'>
        <h2><%= blogs[i].blogTitle %></h2>
      </div>
      <div class='row date-and-control'>
      	<div class='col pull-left'>
          <h6>
	    <%= new Date(blogs[i].createdOn).toLocaleString('en-US', { timeZone: 'America/New_York', dateStyle: 'full', timeStyle: 'short' }) %>	  
	  </h6>
	</div>
	<div class='col pull-left'>
	  <a href='/blog/edit/<%= blogs[i]._id %>'><i class='fa fa-pencil'></i></a>
	</div>
	<div class='col pull-left'>
	  <a href='/blog/delete/<%= blogs[i]._id %>'><i class='fa fa-trash'></i></a>
	</div>
      </div>
      <div class='row'>
        <p class='blogText'><%=  blogs[i].blogText %></p>
    
        <% if(i != blogs.length - 1) { %>
          <hr/>
        <% } %>
      </div>
    <% } %>
  </div>